$color-white : white;
$color-font :rgb(9, 30, 66);
$color-bg-button :#5AAC44;
$color-bg-button-hover :#72c759;

//header colors
$bg-header-color :#026AA7;
$bg-header-hover-color:rgba(255, 255, 255, 0.3);
$bg-header-create-color:rgba(0, 0, 0, 0.3);


//search box color in header
$bg-searchbox-color :#3588b9;
$border-serachbox-color :#5ea1c7;

//theme side bar colors
$bg-sidebar-hover-item :rgba(9, 30, 66, 0.08);

//info bg color
$info-bg-color :#3588b917;
$info-bg-border-color :#5ea1c72e;


$box-shadow :0px 1px 12px 0px #00000075;


//display color
$tick-bg-color :#d3d3d3b5;
$tick-color :#ffffff;

@mixin transition($num) {
    transition:#{$num}s ease-in-out ;
    -webkit-transition:#{$num}s ease-in-out;
    -moz-transition:#{$num}s ease-in-out;
    -ms-transition:#{$num}s ease-in-out;
    -o-transition:#{$num}s ease-in-out;
}
@mixin border-radius($num) {
    border-radius:#{$num}px ;
    -webkit-border-radius:#{$num}px;
    -moz-border-radius:#{$num}px;
    -ms-border-radius:#{$num}px;
    -o-border-radius:#{$num}px;

}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin backgroun-img-hompage {
    position: fixed;
    bottom: 0;
    width: 30%;
    // max-width: 30%;
    z-index: -50;
    img{
        width: 100%;
        height: 100%;
    }
    
}
@mixin  input {
    input{
        width: 80%;
        height: 30px;
        margin-top: 20px;
        border: none;
        outline: 2px solid rgba(138, 131, 131, 0.26);
        @include border-radius(1);
        @include transition(.5);
        background-color: #F9FAFC;
        

        &:focus{
            border: none;
            outline: 2px solid rgba(88, 158, 216, 0.835);
            background-color: $color-white;

        }

    }
    ::placeholder{

        font-size: .7rem;
        color: rgba(128, 128, 128, 0.774);

    }
    :-ms-input-placeholder{
        font-size: .7rem;
        color: gray;

    }
    ::-ms-input-placeholder{
        font-size: .7rem;
        color: gray;

    }
    
}