$color-white : white;
$color-font :rgb(9, 30, 66);
$color-bg-button :#5AAC44;
$color-bg-button-hover :#72c759;
@mixin transition($num) {
    transition:#{$num}s ease-in-out ;
    -webkit-transition:#{$num}s ease-in-out;
    -moz-transition:#{$num}s ease-in-out;
    -ms-transition:#{$num}s ease-in-out;
    -o-transition:#{$num}s ease-in-out;
}
@mixin border-radius($num) {
    border-radius:#{$num}px ;
    -webkit-border-radius:#{$num}px;
    -moz-border-radius:#{$num}px;
    -ms-border-radius:#{$num}px;
    -o-border-radius:#{$num}px;

}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin backgroun-img-hompage {
    position: fixed;
    bottom: 0;
    width: 30%;
    // max-width: 30%;
    z-index: -50;
    img{
        width: 100%;
        height: 100%;
    }
    
}