.join-login-box{

    @include flex-center;
    flex-direction: column;
    padding: 3%;

    .logo-homepage{
        @include flex-center;
        
        width: 100%;
        
        img{
            width: 180px;
            height: 80px;
        }
    }

}
.join-button{
    width: 80%;
    height: 30px;
    background-color: $color-bg-button;
    border: none;
    color: $color-white;
    @include border-radius(3);
    cursor: pointer;

    &:hover{
        background-color: $color-bg-button-hover;
    }
    
}
.welcome-login-box{
    width: 400px;
    height: 400px;
    background-color: $color-white;
    box-shadow: 0px 1px 12px 0px #0000001f;
    @include border-radius(4);
    text-align: center;

    .welcome{
        padding: 30px;
        color: $color-font;

        span{
            font-weight: bold;
            font-size: 2em;
        }
        p{
            margin-top: 30px;
            margin-bottom: 30px;
        }

    }
    .login{
        @include flex-center;
        flex-direction: column;
        padding: 30px;
        span{
            color: $color-font;
        }
        input{
            width: 80%;
            height: 30px;
            margin-top: 20px;
            border: none;
            outline: 2px solid rgba(138, 131, 131, 0.26);
            @include border-radius(1);
            @include transition(.5);
            background-color: #F9FAFC;
            

            &:focus{
                border: none;
                outline: 2px solid rgba(88, 158, 216, 0.835);
                background-color: $color-white;

            }

        }
        ::placeholder{

            font-size: .7rem;
            color: rgba(128, 128, 128, 0.774);
    
        }
        :-ms-input-placeholder{
            font-size: .7rem;
            color: gray;

        }
        ::-ms-input-placeholder{
            font-size: .7rem;
            color: gray;

        }
    }
}

.login > .login-button{
    @include flex-center;
    justify-content: space-around;
    width: 80%;
    margin-top: 30px;
    .join-button{
        width: 45%;
    }

}


//header component
.header{
    font-size: .9em;
    width: 100%;
    padding: 0px  5px;
    
    background-color: $bg-header-color;
    color: $color-white;

    ul{
        @include flex-center;

        li{
            width: 8%;
            padding: 6px;
            @include flex-center;
            @include border-radius(4);
            &:hover{
                background-color: $bg-header-hover-color;
                

            }

        }


    }
}

ul > :nth-child(1){

    width: 2% !important;
    display: block !important;
        i{
            width: 2px;
        }
    
}
ul > :nth-child(2){

    
        img{
            width: 90%;
            
        }
    
}
ul > :nth-child(7){
    width: 4% !important;
    background-color: $bg-header-create-color;


}
// search box in header
.search-box{
    width: 45% !important;
    justify-content: end !important;

    &:hover{
        background-color: $bg-header-color !important;
    }
    

    div{
        border: 1px solid $border-serachbox-color;
        padding: 6px 4px;
        box-sizing: border-box;
        @include border-radius(3);
        width: 250px;
        background-color: $bg-searchbox-color ;
        @include flex-center;
        &:hover{
            background-color: $bg-header-hover-color;
            

        }
        i{
            width: 10%;
            background-color: transparent;
        }
        input{
            width: 90%;
            background-color: transparent;
            outline: 0;
            border: none;
    
        }
        ::placeholder{
            font-family: sans-serif !important;
            font-size: .7rem;
            color: $color-white;
    
        }
        :-ms-input-placeholder{
            font-family: sans-serif !important;
            font-size: .7rem;
            color: $color-white;

        }
        ::-ms-input-placeholder{
            font-family: sans-serif !important;
            font-size: .7rem;
            color: $color-white;

        }
    }

}
ul > :nth-child(9){
    width: 2% !important;

    span{
        width: 15px;
        height: 15px;
        border :2px solid $color-white;
        @include flex-center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}


}
ul > :nth-child(10){
    width: 2% !important;
    i{
        font-size: 1.2em;
    }


}
ul > :nth-child(11){
    width: 3% !important;

    img{
        width: 30px;
        height:30px ;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        object-fit: cover;
}


}