.card{
    color: $color-card;
    background-color: $color-card-bg;
    width: 250px;
    padding: 15px;
    height: max-content;
    margin-left: 8px;
    @include border-radius(3);
    font-size: .85rem;
    font-weight: 600;
    position: relative;


        .title-box{
            position: relative;

            .input-class{
                display: block;
                width: 90%;
                input{
                    width: 95%;
                    height: 30px;
                    border: none;
                    outline: 2px solid rgba(138, 131, 131, 0.26);
                    @include border-radius(1);
                    @include transition(.5);
                    background-color: #F9FAFC;
                    
            
                    &:focus{
                        border: none;
                        outline: 2px solid rgba(88, 158, 216, 0.835);
                        background-color: $color-white;
            
                    }
            
                }
                ::placeholder{
            
                    font-size: .7rem;
                    color: rgba(128, 128, 128, 0.774);
            
                }
                :-ms-input-placeholder{
                    font-size: .7rem;
                    color: gray;
            
                }
                ::-ms-input-placeholder{
                    font-size: .7rem;
                    color: gray;
            
            }
            }
            .edit-icon{
                margin-left: auto;
            }
            
            i{
                margin-left: auto;
                width: 5%;
                cursor: pointer;
                padding: 5px;
                &:hover{
                    cursor: pointer;
                    padding: 5px;
                    background-color: $color-hover1;
                    @include border-radius(3)
            }
        }
        
            }
        
    
}
.card >:nth-child(1){
    @include flex-center;
    justify-content: space-between !important;
    }

.add-card{

    width: 300px;
    margin-left: 8px;
    display: flex;
    input{
        border: none;
        width: 85%;
        height: 30px;
        @include border-radius(3);
        outline: 0;
        padding: 5px;
        background-color: $color-bg-addcard;
        color: $color-white;
    }
    ::placeholder{

        color: $color-white;
        opacity: 1; 
        font-size: 1rem;

    }
    :-ms-input-placeholder{
        color: $color-white;
    }
    ::-ms-input-placeholder{
        color: $color-white;
    }
    button{
        height: 40px;
        width: 15%;
        padding: 5px;
        border: none;
        @include border-radius(2)
    }
   
}

// .task-list{

//     div{
//         div{
//             i{
//                 display: none;
//             }
//         }
//     }
   


// }
.task{

    height: 15px;
    @include flex-center;
    justify-content: space-between !important;
    width: inherit;
    background-color: $color-white;
    font-weight: 500;
    margin-top: 8px;
    padding: 8px;
    @include border-radius(2);
    @include transition(.2);
    box-shadow: 0px 1px 0px 0px #0000004a;
    position: relative;

    .edit-box-none{
        position: absolute;
        left: 258px;
        top : 0px;
        z-index: 40;
        width: 0px;
        overflow: hidden;
        @include transition(.3);
        display: flex;
        flex-direction: column;
        direction: ltr;
        gap: 2px;

        i{
            padding: 5px;
            width: max-content;
            background-color: $bg-searchbox-color;
            @include border-radius(3);
            border: 1px solid $border-serachbox-color;
            color: white;
            direction: rtl;
            font-size: .8em;
            @include transition(.3);


            &:hover{
                cursor: pointer;
                padding: 5px;
                background-color: $background-edit-box-hover ;
                @include border-radius(3);
                position:relative;
                left: 5px;

            }
            span{
                font-size: .6em;
                margin-left: 2px;
                display: inline;
            }
        }


}
    .edit-box-card{
        width: 130px  !important;
    }
    .edit-icon-task{
        display: none;
    }
    &:hover{
        background-color: $color-task-hov;
        .edit-icon-task{
            display: block;
            padding: 5px;
            font-size: .7em;
            box-sizing: border-box;
            @include border-radius(2);
            @include transition(.2);
            &:hover{
                background-color: $color-task-hov-hov;
            }
        }
        
        
    }


}

.add-task{
    width: 100%;
    margin-top: 8px;
    display: flex;
    align-items: center;

    input{
        border: none;
        @include border-radius(3);
        outline: 0;
        padding: 5px;
    }
    button{
        height: 100%;
        margin-left: auto;
    }
}
.close-edit-box-task{
    display: none;
    position: fixed;
    z-index: 30;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
}