.display-theme{
    width: 100%;
    @include flex-center;
    justify-content: start !important;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid $info-bg-border-color;
    @include border-radius(5);
    background-color: $info-bg-color;
    box-shadow: $box-shadow;
    .display-title{
        width: 100%;
        font-size: 1.1em;
        font-weight: bold;
    }
    div{
        width: 25%;
        @include flex-center;
        margin-top: 50px;
        position: relative;
        img{
            width: 200px;
            height: 130px;
            @include border-radius(5);
            box-shadow: $box-shadow;
            cursor: pointer;
            @include transition(.3);
            &:hover{
                width: 210px;
                height: 130px;

            }


        }
        span{
            opacity: 0;
            position: absolute;
            font-size: 2em;
            font-weight: bold;
            color: $tick-color;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            padding: 5px;
            background-color: $tick-bg-color;
            @include transition(.2)
}


    }
    .info-button{
        width: 100%;
        justify-content: start !important;
        margin-top: 50px;
        button{
            width: 30% !important;
        }
    }
    
}