.display-theme{
    width: 100%;
    @include flex-center;
    justify-content: start !important;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid $info-bg-border-color;
    @include border-radius(5);
    background-color: $info-bg-color;
    box-shadow: $box-shadow;
    .display-title{
        width: 100%;
        font-size: 1.1em;
        font-weight: bold;
    }
    div{
        width: 25%;
        @include flex-center;
        margin-top: 50px;
        img{
            width: 200px;
            height: 130px;
            @include border-radius(5);
            box-shadow: $box-shadow;
            cursor: pointer;
            @include transition(.3);
            &:hover{
                width: 210px;
                height: 130px;

            }

        }


    }
    .info-button{
        width: 100%;
        justify-content: start !important;
        button{
            width: 30% !important;
        }
    }
    
}