.manage-account-theme{
    width: 100%;
    @include flex-center;
    justify-content: start !important;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid $info-bg-border-color;
    @include border-radius(5);
    background-color: $info-bg-color;
    box-shadow: $box-shadow;

    .info-title{
        width: 100%;
        font-size: 1.1em;
        font-weight: bold;
    }
    div{
        width: 50%;
        @include flex-center;
        margin-top: 50px;
        span{
            width: 40%;
        }
        @include input;
        input{
            width: 50% !important;
            margin-top: 0 !important;
            background-color: $color-white !important;
        }


    }
    .info-button{
        width: 25%;
        justify-content: center;
        display: flex;
        button{
            width: 60% !important;
        }
    }

}